In [3]:
import pandas

4

In [5]:
import sys
print(sys.executable)

/snap/jupyter/6/bin/python

In [6]:
 /Library/Frameworks/Python.framework/Versions/3.7/bin/python3

NameError: name 'Library' is not defined

In [ ]:
import sys  
!{sys.executable} -m pip install pandas

In [7]:
import pandas as pd

In [27]:
my_list = ["Satyendra", "Mahesh", "Bista","xyz","abc"]
index_list = ["Mango", "Apple", "Orange","123", "3,4,5"]

In [17]:
a = pd.Series(data=my_list, index=index_list)
a

NameError: name 'left' is not defined

In [22]:
pd.merge(my_list, index_list)

TypeError: Can only merge Series or DataFrame objects, a <class 'list'> was passed

In [23]:
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
left

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5

In [24]:
right

   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [26]:
pd.merge(left, right, on='id')

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

In [28]:
pd.merge(left, right, on=['id','subject_id'])

   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty

In [29]:
pd.merge(left, right, on=['subject_id'])

   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty

In [30]:
pd.merge(left, right, on='subject_id', how='left')

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty