In [10]:
'satyendra'+ '1'

'satyendra1'

In [30]:
new_list = []
def my_list(list1):
    new_list.append(list(dict.fromkeys(a)))
print("xxxxxxxxxx", new_list)
list1 = [10,20,10,30,20,5,6,8,5]

xxxxxxxxxx []

In [31]:
my_list(list1)

In [29]:
list(dict.fromkeys(list1))

[10, 20, 30, 5, 6, 8]

In [32]:
dict = {'a': "My name is Satyendra Tiwari", 'b': "My mother name is Mrs. Urmila Tiwari", 'c': "My father name is Mr. Shambhu nath Tiwari"}

In [47]:
for c,d in dict.items():
    print("Keys are: \n\n", c)
    print("values are: \n", d)

Keys are:

 a
values are:
 My name is Satyendra Tiwari
Keys are:

 b
values are:
 My mother name is Mrs. Urmila Tiwari
Keys are:

 c
values are:
 My father name is Mr. Shambhu nath Tiwari

# Variable

In [59]:
age = int(input("Please enter your actual age:"))
if age > 30:
    print("He is elder than me.")
elif age == 30:
    print("He is not my Brother.")
else:
    print("He is my uncle.")

Please enter your actual age:25
He is my uncle.

In [63]:
len("Hello   sa")

10

# Custom Function

In [64]:
# Create a python custom function to convert tempature celsius to fahrenheit

def convert_to_fahrenheit(celsius_temp):
    product = celsius_temp * 0.8
    return product + 32

In [66]:
convert_to_fahrenheit(20)

48.0

# String Method

In [71]:
profession = 'Developer'

In [72]:
profession.upper()

'DEVELOPER'

In [73]:
profession.lower()

'developer'

In [74]:
profession.swapcase()

'dEVELOPER'

In [75]:
'SaTyenDra'.swapcase()

'sAtYENdRA'

In [ ]:
#Write a code for find factorial of given number.
fact = 0
num = int(input("Please enter a number for find out factorial of that number:"))
while(num > 0):
    fact = num*(num-1)
    fact = fact+1
    print("Factorial of given number is: ", fact)

In [1]:
Hello

NameError: name 'Hello' is not defined

In [2]:
"Once upon a time".title()

'Once Upon A Time'